.intro {
  position: relative;
}

.intro section {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 500px;
  padding: 0 20px;
}

.intro .title {
  font-size: 3em;
  font-weight: 700;
  color: white;
  margin-top: 64px;
}

.intro .sub-title {
  font-size: 1.7em;
  font-weight: 400;
  color: white;  
}

.intro .description {
  max-width: 50%;
  color: white;
  margin-top: 1em;
}

 .skew-cover {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 400px;
  z-index: -1;
  transform: skewY(-7deg);
  background: #F4F7FB;
}

@media screen and (max-width: 767px) {
  .intro .title {
    font-size: 1.9em;
    font-weight: 600;
  }
  .intro .description {
    max-width: 90%;
  }

  .skew-cover {
    top: 470px;
    transform: skewY(-4deg);
  }
}
